id are unique in html file


block,inline,inline-block,flex
display:block;              //TAG TAKES WHOLE WIDTH
display:inline;                 //you cannot add separate height and width
display:inline-block;           //solves problem

BY DOING INLINE-BLOCK WE GET MESSED UP ONE UPSIDE ANOTHER DOWNSIDE SO use
vertical-align:top;



💘 VERY VERY IMPORTANT WHEN YOU ARE USING IMAGES IN WEBSITE
html{
   box-sizing:border-box             //it will not go out of box or container
   box-shadow:0 2px 4px rgba(0,0,0,0.2)      //0.2 is opacity
   background-image: linear-gradient(120deg, red 0$ , blue);
}

*, *:before, *:after{
   box-sizing:inherit             //it will not go out of box or container
}


💘if child getting out of container of parent 
overflow:hidden;


💘List 
list-style:none , square;     //removes bullets

💘TO MAKE TEXT IN CENTER IN HEIGHT
line-height: "jitka container ch size aahe titka"

💘POSITION      parent sathi relative  ani child sathi absolute
 position:static
 position:absolute                  //parent (i.e j ki relative aahe) tyach madhech he child absolute ast mhnje parent ch baher jau shakat nahi 
 position:relative                  //scroll kela ki navbar chya vr dista    
 position:fixed
 position:sticky

 💘 NAV BAR.
 position:fixed;
 top:0;
 left:0;                    //fixed navbar even scrolled
 width:100vw;               //view window width

 💘 z-index                 //layers
z-index:3                   //top layer

 💘float                 //inline element la left or right la thevaysathi
float:left                  //top layer

 💘 border-radius around 4to7px                 //layers
 💘 padding,margin around 10to20px                 //layers


 💘mostly we use % for width and are used to make it more responsive
 💘mostly we use em or rem for text rem(1 rem means 100% size related to root element size) manje root element change kela ki sagle rem use kelela change hoil


 💘 Color                 
    color:rgb(red,green,blue)
    color:rgba(red,green,blue,opacity(0,0.5,1))


💘Image
background-image: url(link);
background-size:cover;
object-fit:cover;
background-repeat:no-repeat;
background-position:right;


💘if we have body and two boxes on parallel
//DOGHANCH J KONI PARENT AE KIVVA BODY LA DISPLAY:FLEX; LAV



💘 ON HOVER
button:hover{
   transform:scale(1.1)
}




💘bottom section la display:flex lav ani felx-direction:column; lav mhnje mobile vr column disal ani @media query desktop sathi flex-direction:row kr eka bajula ek karnyasathi
💘ani bottom section che j don dabbe aahet tyanna flex-basis:50% de mhnje jitka pb emptcy space aahe t acquire karel

💘ORDER
order:4;


💘desktop implement kartana
@media (min-width:576px)                  //below 576 is mobile device


💘PSEUDO CLASS 
FOR LINKS(order khali je dilay tech thev)
a:link{text-decoration:none;}                                  //unvisited link
a:visited{color:red;}                               //visited
a:hover{}                                   //hover
a:active{}                                     //activ
a:focus{}                        //when you click on link it will apply all styles


💘child la lavaych asal tr 
li:first-child{}
li:last-child{}
li:nth-child(n){}                //n can be "even" or "odd" means all styles are applied on odd childs or even childs


💘ek paragraph element aahe jyat kahi nahi t space khayle mg udavla 
p:empty{
   display:none
}
p:not(.special){        //select all paragraph except paragraphs of special class
}

:where(p,div).author{   //select all p and div of class author
}


💘::before, ::after       //used for content insertion
.title::before{
   content:"💜";
}


💘::first-line, ::first-line     //first letter of title can be changed
.title::first-letter{
}


💘::selection           //text select karto na t walal
::selection{
   color:white;
   background-color:navy;
}



💘POSITION 
1)ABSOLUTE                 //element la parent ch left,right,bottom,top la neto
                           //jr t parent element ch asla tr mg website ch left,right,bottom,top la jato
.button{
   position:absolute;
   right:20px;
}

2)Relative                 //dusrach ch child element mala mahzya under madhe position karaych tr mala swatahala relative karav lagal
3)Fixed                
4)Sticky                   //relative+fixed
.nav{
   position:sticky;
   top:0px;
}                


💘FLEXBOX(flexible box layout) flexbox playground website wr ja easy practicce
container{
   display:flex                                             //or inline-flex
   flex-direction:row;                                        //default we have (column,row-reverse,column-reverse)
💥use justify-content and align-item for single line flex items and align-content for multiline flex items
   justify-content:(flex-start,center,space-between,space-around,end)      //flex-direction cha hishobani mhanje row tr row wise ani column asla tr column wise
   align-item:(flex-start,flex-end,center,baseline)                        //flex-direction row asal tr he column wise move hotil ani column asal tr row wise items move hotat
   align-content:                                              //when extra space is available
   
   
💘DABBE CH BAHER JAT ASAL tr
overflow:auto;
//OR
flex-wrap:wrap;
//and then we use align-item  but it don't work so use align-content:flex-start;

💘PARTICULR CONTAINER LACH HALVAYCH ASAL tr
align-self:flex-start;                          //particularr flex item la halvaych tr lav

💘EXTRA SPACE ASAL AVAILABLE ANI PARTICULAR FLEX ITEM MADHE HE LAU SHAKTO T EXTRA SPACE USE KARAYLA
felx-grow:0;                                                   //particular element madhe lihu shakto. jr cvalue 1 asal tr t element empty space use karal
flex-shrink:1;
felx-basis:50% ;                                               // same grow sarkhach pn 50% dyaych mhnjechangla

flex:0 1 auto;
flex-wrap:wrap                                                 //wrap,nowrap,wrap-reverse   mhnje overflow zhalele distat wrap kela ki
text-align:center                                                 //horizontal center madhe
}


💘 RESPONSIVE 
lt browser website madhe tula mobile ani desktop disal just copy kar tuza html chi link and paste in website

WEBSITE MIN-WIDTH
<meta name="viewport" content="width=device-width", initial-scale=1.0" />
@media all and (min-width:600px)   // means if window.innerWidth==600px then text color to greeen
h1{
   color:green;
}
/* and for image*/
image{
   width:auto;
}


💘 Breakpoints
mobile: 320px to 480px
tablets: 481 to 768
laptop: 769 to 1024
desktops: 1025 to 1200
tv: 1201 to 999999999px


💘 @media types
@media
@media all 
@media print
@media only screen


💘jastit jast window 500px parant kami hou shakte yala breakpoint mhntat  
min-width for mobile first
max-width for desktop first
@media (min-width:500px) and (max-width:700pc){
   color:red;              //means apply color red when window size is between 500 to 700px
}


@media all and (min-width=400px)   he ani he same aahet @media (min-width:400px)

@media (orientation:portrait){}  
@media (orientation:landscape){}  